.dropdown-menu {
  min-width: 175px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0px;
  background-color: #eaece1;
  margin: 10px 0px 0px 0px;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  border: 1px solid #009999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #009999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.datepicker table tr td, .datepicker table tr th {
  border-radius: 0 !important; }

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  background-color: #009999 !important;
  border-color: #eaece1 !important; }

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
  color: #fff !important;
  background-color: #2DA263 !important;
  border-color: #eaece1 !important; }

.datepicker-dropdown:before, .bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom-color: #009999 !important; }

.datepicker-dropdown:after, .bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom-color: #e4e8e9 !important; }

.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
  border-top-color: #009999 !important; }

.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
  border-top-color: #e4e8e9 !important; }

.bootstrap-timepicker-widget input {
  border: none !important;
  background-color: transparent !important;
  color: #009999 !important; }

.bootstrap-timepicker-widget table td a:hover {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

.bootstrap-timepicker-widget table td a {
  color: #009999 !important; }
