<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>聚落|我们聚会哟，你约么？</title>
    <link rel="stylesheet" href="../stylesheets/base.css"/>
    <link rel="stylesheet" href="../stylesheets/global.css"/>
</head>
<body>
<header>
    <div class="JL-header">
        <div class="JL-header-logo">
            <a href="index.html" class="JL-link">
                <img src="../images/logo.png" alt="聚落"/>
            </a>
        </div>
        <nav class="JL-header-nav">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="#">发起聚会</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#" class="JL-header-nav-active">我的聚会</a></li>
            </ul>
        </nav>
        <div class="JL-header-user">
            <div class="JL-header-userinfo">
                <div class="JL-header-userinfo-left">
                    <a href=""><img src="../images/user.jpg"/></a>
                </div>
                <div class="JL-header-userinfo-right">
                    <div class="JL-header-userinfo-name">
                        <label>逗比你好</label>
                        <i></i>
                    </div>
                    <div class="JL-header-userinfo-dropdown">
                        <ul>
                            <li><a href="">我的资料</a></li>
                            <li><a href="">我的聚会</a></li>
                            <li><a href="">我的帮派</a></li>
                            <li><a href="">退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="JL-wraper">
    <div class="JL-wraper-content">
        <div class="JL-page-bar">
            <span>您所在位置：</span>
            <ul>
                <li><a href="">我的聚会</a><i>&rsaquo;</i></li>
                <li><a href="">峨眉山登顶之旅</a></li>
            </ul>
        </div>
        <div class="JL-active-content">
            <div class="JL-active-content-top">
                <div class="JL-active-content-left JL-acitve-state JL-active-content-h266">
                    <img src="../images/acitvity01.jpg" alt="夜幕降临，还好有你"/>

                    <div class="JL-party-tag plan-end">已结束</div>
                </div>
                <div class="JL-active-content-right JL-active-content-h266">
                    <div class="JL-active-info">
                        <label class="JL-active-title">峨眉山登顶之旅</label>
                        <span class="JL-active-introduce">四大佛教名山、金顶看日出</span>

                        <div class="JL-active-time-location">
                            <div class="JL-active-time">
                                <span>2015年7月18日 08:00</span>
                                <span>2015年7月19日 18:00</span>
                            </div>
                            <div class="JL-active-location">
                                <span>四川省乐山峨眉山</span>
                            </div>
                            <div class="JL-active-state">
                                <a class="JL-btn JL-btn-disabled JL-active-btn " href="">我也要报名</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="JL-active-content-introduce">
                <div class="JL-active-content-left">
                    <div class="JL-active-content-introduce-text">
                        <p>中国佛教的四大名山，景区面积154平方公里。最高峰万佛顶海拔3099米。有“秀甲天下”之美誉。可以再金顶欣赏“日出”、“云海”、“佛光”和“圣灯”四大绝景。
                            峨眉新十大景点：金顶金佛、万佛朝宗、小平情缘、清音平湖、幽谷灵猴、第一山亭、摩崖石刻、秀甲瀑布、迎宾滩、名山起点。</p>

                        <p>Day01:报国寺—神水阁—清音阁—自然生态区—一线天—九老洞—洗象池</p>

                        <p>Day02:洗象池—接引殿—金顶索道—金顶—千佛顶—万</p>

                        <p>Day01: </p>

                        <p>乐山到峨眉：20元/人,门票：180元/人,午餐：30元/人,晚餐：50元/人,住宿：150元/人</p>

                        <p>Day02: </p>

                        <p>索道：60元/人,早餐：20元/人,午餐：50元/人,纪念品：100元/人（自选）</p></div>
                </div>
                <div class="JL-active-content-right">
                    <div class="JL-active-content-person">
                        <span>10位小伙伴在路上</span>
                    </div>
                    <div class="JL-active-content-share">
                        <img src="../images/QRcode.jpg" class="JL-active-content-share-QRcode"/>
                        <span>扫码可分享</span>
                        <ul>
                            <li class="JL-active-content-share-QQ"></li>
                            <li class="JL-active-content-share-QZ"></li>
                            <li class="JL-active-content-share-WX"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="JL-footer-left">
                <div class="JL-footer-QRcode">
                    <img src="../images/QRcode.jpg"/>
                    <span>扫一扫关注我们</span>
                </div>
                <div class="JL-footer-info">
                    <p>青春不做低头一族，我们还要有追逐的脚步。</p>

                    <p>闲来无事多聚会，朋友联系常了解<br/>世界之大要畅游，有你陪伴不寂寞。</p>
                </div>
            </div>
            <div class="JL-footer-right">
                <span>联系电话：1354657786</span>
                <span>电子邮箱：18hao@hotmail.com</span>
                <span>地址：成都市</span>
            </div>
        </footer>
    </div>
</div>
</body>
</html>