<div class="JL-wraper-content">
    <div class="JL-index-content-item JL-index-content-top">
        <p class="JL-hidden">闪烁的霓虹, 你是否愿意带上你的小伙伴, 逃离都市的喧嚣， 找一个安静的地方， 和朋友们来一次用心的交流。</p>
        <label>生活在这里，我们来聚聚</label>
        <a ui-sref="createparty" class="JL-btn JL-btn-center-bottom">发起聚会</a>
    </div>
    <div class="JL-index-content-item JL-index-content-center">
        <div class="JL-index-center-item">
            <i class="JL-icon-plan"></i>
            <label>一种计划</label>

            <p>每次活动都精心策划，只是为了能够让朋友们更好的享受，每一次活动，不管怎么，有计划的事情总是能够愉快进行。</p>
        </div>
        <div class="JL-index-center-item">
            <i class="JL-icon-photo"></i>
            <label>记得拍照</label>

            <p>每一次照片的手机，都是活动最好的珍藏，有你们在一起的回忆，就是最美的地方。</p>
        </div>
        <div class="JL-index-center-item">
            <i class="JL-icon-share"></i>
            <label>随时分享</label>

            <p>与他人分享你们的事情，让你们的聚会成为别人的参考。 分享正能量，创造幸福的一天。</p>
        </div>
        <div class="JL-index-center-item">
            <i class="JL-icon-story"></i>
            <label>写自己的故事</label>

            <p>在这里你可以记录自己的故事，我们用时间轴来为你保存，属于你的那些年的青春。</p>
        </div>
    </div>
    <div class="JL-index-content-item JL-index-content-bottom">
        <p class="JL-hidden">那些年我们的故事</p>

        <p class="JL-hidden">
            他们来自不同的地方，他们曾经就职于同一个公司。感谢这家让他们相聚的
            公司，他们很了解彼此，他们都有共同的爱好：旅游、桌游。他们更喜欢在一起
            交流，而不是去做低头一族，他们都有自己的而梦想，希望能够到处去旅游。
            他们经常思考，能否有平台能够分享属于每个人自己的故事，他们敢做敢为，
            于是就有了18号的成立。
        </p>
        <a href="#" class="JL-btn JL-btn-center-bottom">关于我们</a>
    </div>

    <footer ui-view="footer">

    </footer>
</div>