<div class="JL-login">
    <i ng-click="hideLoginForm()">×</i>

    <div class="JL-login-radius">
        <div class="JL-title">
            <label>登录</label>
            <span>欢迎使用聚落与小伙伴们聚会</span>
        </div>
        <form name="form" ng-submit="loginSubmit()">
            <input type="text" name="username" ng-model="user.username" required placeholder="手机号码"/>
            <input type="password" name="password" ng-model="user.password" required placeholder="密码"/>
            <input type="submit" value="登录"/>
        </form>
    </div>
</div>